<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>排污用电监测系统</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=c17b04b905" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/jquery.qrcode.js"></script>
		<script src="../js/utf.js"></script>
		<script src="../js/postUrl.js?v=8de06d9e3a"></script>
		<script src="../js/common.js?v=aa38fd15c8"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box v-dom" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					用户管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">运营公司：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="company" placeholder="输入运营公司" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div class="btn icon icon-add" onclick="showAdministrator(0,'','新建用户')">新建用户</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有用户记录哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>运营公司</th>
							<th>账号</th>
							<th>联系人</th>
							<th>联系方式</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td>{{((pageNo-1)*20)+(i+1)}}</td>
							<td>{{t.name}}</td>
							<td>{{t.account}}</td>
							<td>绿博仕</td>
							<td>{{t.createTime}}</td>
							<td>
								<div class="btn icon icon-del" v-on:click="del(t.id)">删除</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		loadVue(".v-dom", param);
		loadPage(0);
		//新建或编辑
		function showAdministrator(flag, obj, title) {
			openMask("../part/administrator", title, ["346px", "330px"], function(layerDom, layerIframe) {
				judeEdit(flag, layerDom);
			})
		}

		//删除数据
		function del(id) {
			delOneData(id, "确定删除该用户？", function(param) {
				request('POST', '/account/administrator/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("非管理员账号不能删除");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				company: $("#company").val()
			};
			request('POST', '/account/administrator/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allisActive = false;
			}, function(res) {
				layer.msg("用户记录加载失败");
			})
		}
		loadData();
	</script>

</html>